.pieratora {
	all:initial;
}
.pieratora-block {
	display:block;
}
.pieratora-css3gradient {
	background-color: #000000;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr=#000000, endColorstr=#ff7200);
	background-image: -moz-linear-gradient(left top, #000000 5%, #ff7200 64%,#ffffff 95%);
	background-image: linear-gradient(left top, #000000 5%, #ff7200 64%,#ffffff 95%);
	background-image: -webkit-linear-gradient(left top, #000000 5%, #ff7200 64%,#ffffff 95%);
	background-image: -o-linear-gradient(left top, #000000 5%, #ff7200 64%,#ffffff 95%);
	background-image: -ms-linear-gradient(left top, #000000 5%, #ff7200 64%,#ffffff 95%);
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(5%,#000000), color-stop(64%,#ff7200),color-stop(95%,#ffffff));
	background-repeat: repeat-x;
	background: linear-gradient(135deg, #000000 5%, #ff7200 64%,#ffffff 95%);
}

.pieratora-topLeft {
	top: 0;
	left: 0;
}

.pieratora-transparent {
	background-color: rgba(0,0,0,0.5);
}

.pieratora-panel {
	display: inline-block;
	height: 230;
	width: 320;
	padding: 0px 35px 35px 35px;
	margin: 10px 10px 10px 10px;
}

.pieratora-dragPanel {
	position: absolute;
}

.pieratora-dragPanelHeader {
	background-color: rgba(255, 117, 0, 0.62);
	margin-right: -35px;
	margin-left: -35px;
	width: inherit;
	height: 25px;
	cursor: move;
}

.pieratora-overflowing {
	overflow: hidden;
	white-space: nowrap;
}

pieratora-html {
	height: 100%
}

.pieratora-p {
	text-shadow: -0.6px -0.6px 15px #f3570c, -0.6px 0.4px 15px #f3570c, -0.6px 1.4px 15px #f3570c, 0.4px -0.6px 15px #f3570c, 0.4px 0.4px 15px #f3570c, 0.4px 1.4px 15px #f3570c, 1.4px -0.6px 15px #f3570c, 1.4px 0.4px 15px #f3570c, 1.4px 1.4px 15px #f3570c;
	font-weight: bold;
}

.pieratora-title {
	font-size: xx-large;
}

.pieratora-label {
	font-size: large;
}
